@charset "UTF-8";
.btn { display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 11px 20px 12px; border: 2px solid transparent; outline: 0; font: bold 18px/1.2 "Open Sans", Helvetica, Arial, sans-serif; text-align: center; text-transform: uppercase; -webkit-border-radius: 24px; -moz-border-radius: 24px; -ms-border-radius: 24px; -o-border-radius: 24px; border-radius: 24px; }
.btn:hover { border-color: transparent; }
.btn.red.bordered { background: #e42e35; color: #fff; border: 2px solid #fff; }
.btn.red.bordered:hover { color: rgba(255, 255, 255, 0.6); border-color: rgba(255, 255, 255, 0.6); }

.h_menu { margin: 0; padding: 0; list-style: none; }
.h_menu li { display: inline-block; vertical-align: middle; }
.h_menu li:not(:last-of-type):after { display: inline-block; vertical-align: middle; content: '•'; color: #5a5a5a; margin: 0 6px; }
.h_menu li a { color: white; text-transform: uppercase; font-weight: bold; font-size: 13px; border-bottom: 0; }
.h_menu li a:hover { color: rgba(255, 255, 255, 0.7); }

.lang { padding: 0; margin: 0; list-style: none; }
.lang li { display: inline-block; margin-right: 10px; }
.lang li:last-of-type { margin-right: 0; }
.lang li a { font-size: 14px; text-transform: uppercase; color: #fff; font-weight: bold; border-bottom: none; }
.lang li a:hover, .lang li a.active { color: #808080; }
.lang li a.active { cursor: normal; }
