@charset "utf-8"; @import "compass";

.btn {
  display: inline-block;
  @include box-sizing(border-box);
  padding: 11px 20px 12px;
  border: 2px solid transparent;
  outline: 0;
  font: bold 18px/1.2 "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  @include border-radius(48px * 0.5);

  &:hover {
    border-color: transparent;
  }

  &.red {
    &.bordered {
      background: #e42e35;
      color: #fff;
      border: 2px solid #fff;

      &:hover {
        color: rgba(#fff, 0.6);
        border-color: rgba(#fff, 0.6);
      }
    }
  }
}

.h_menu {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		vertical-align: middle;
		
		&:not(:last-of-type){
			&:after{
				display: inline-block;
				vertical-align: middle;
				content: '•';
				color: #5a5a5a;
				// margin-right: 7px;
				margin: 0 6px;
			}
		}

		a {
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 13px;
			border-bottom: 0;
			&:hover {
				color: rgba(white,0.7);
			}
		}
	}
}

.lang {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		display: inline-block;
		margin-right: 10px;

		&:last-of-type {
			margin-right: 0;
		}

		a {
			font-size: 14px;
			text-transform: uppercase;
			color: #fff;
			font-weight: bold;
			border-bottom: none;

			&:hover,
			&.active {
				color: #808080;
			}

			&.active {
				cursor: normal;
			}
		}
	}
}

