.btn {
  display: inline-block;
  @include box-sizing(border-box);
  padding: 11px 20px 12px;
  border: 2px solid transparent;
  outline: 0;
  font: bold 18px/1.2 "Open Sans", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  @include border-radius(48px * 0.5);

  &:hover {
    border-color: transparent;
  }

  &.red {
    &.bordered {
      background: #e42e35;
      color: #fff;
      border: 2px solid #fff;

      &:hover {
        color: rgba(#fff, 0.6);
        border-color: rgba(#fff, 0.6);
      }
    }
  }
}
