.h_menu {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		vertical-align: middle;
		
		&:not(:last-of-type){
			&:after{
				display: inline-block;
				vertical-align: middle;
				content: '•';
				color: #5a5a5a;
				// margin-right: 7px;
				margin: 0 6px;
			}
		}

		a {
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 13px;
			border-bottom: 0;
			&:hover {
				color: rgba(white,0.7);
			}
		}
	}
}
